@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  
  --blue:#fff;
  --primary:#6f7bf7;
  --background-light:#f3f4ff;
  --background-light-secondary:#f2f3ff;
  --background-dark:#4C566A;
  --background-dark-secondary:#7487b7;
  --side-nav-link:#020b77;

  --dark-main-cntnr:#000633;
  --dark-brand-cntnr: #000420;
  --dark-card-cntnr:#08242d;
  --dark-card-header:#00151C;
  --dark-sidebar-cntnr:#01093d;
  --dark-side-nav-link:#008b8b;
  --dark-secondary-link:#5e0652;
  --dark-text-color:#ced3f2;
  --dark-danger:#b02a37;
  --dark-primary:#40269C;
}


*{
  font-family: 'Roboto', sans-serif;
}

.auth-bg{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column  ;
  align-items: center;
}

.auth-info{
  width:450px;
  padding:30px;
  margin:10px;
  margin-top: 100px;
  border-radius: 10px;  
}

.side-nav{
  position: fixed;
  top:0px;
  left:0px;
  width:250px;
  min-height: 100vh;
  background-color: var(--background-light-secondary);  
  padding: 1rem 2rem ;
}


.side-nav > .nav-link{
  
  font-size:larger;
  color: var(--background-dark-secondary);
}

.side-nav > .nav-link.active{
  box-shadow: 0px 5px 2px #ced3f2;
  color:var(--side-nav-link);
}




.main-contnr{

  margin-left: 250px;
  min-height: 100vh;

}

.brand-nav{
  height:300px;
  background: linear-gradient(to right, #e9fffe, #6f7bf7);;
  color: #000861;
}

.top-nav{
  padding: 0px  2rem;
  padding-top: 4rem;
  display: flex;

}


.hero-contnr{
  
  position: relative;
  top:-100px;
  background-color:transparent;
  margin:0px 50px;
}

.tickets-graph-container{
  border:1px solid black;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ticket-graph{
  width:400px;
  height: 300px;
}

.side-menu{
  display: none;
}

.open-devs{
  padding: auto;
  max-height:200px;
  overflow-y: scroll;
}


.proj-opt{

}

.todos_hero{
  margin-top:-8rem;
  padding: .5rem;
}

.todo-card{
  width: 300px;
  min-height:200px;
  margin: .8rem;
}

.todos-contnr{
  display: flex;
  flex-wrap: wrap;
}

.profile-cntnr{
  margin-top: -5rem;
}



.sidenav-toggle{
  width:250px;
  background-color: var(--background-light-secondary);  

}

.nav> .nav-link{
  
  font-size:larger;
  color: var(--background-dark-secondary);
}

.nav > .nav-link.active{
  box-shadow: 0px 5px 2px #ced3f2;
  color:var(--side-nav-link);
}

.dev-tickets{
  margin-top:  -4rem;
  padding: 0 4rem;
}

.dev-tickets-body{
  height:500px
}

.admin-dashboard{
  margin-top: -4rem;
  padding: 0 4rem;
}

.theme-switch-cntnr{
  background-color: white;
  padding: .3rem;
  border-radius: 50%;
}

/* ticket messages */

.ticket-msg{

  display: flex;
  flex-direction: column-reverse;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.msg{
  margin-top: .5rem;
  width:45%;
  padding: .5rem;
  color: #fff;
  border-radius: 7px;
}

.msg-heading{
  font:bolder;
  font-size: smaller;
}

.msg-left{
  display: block;
  margin-right: auto;
  background-color: #8CABBE;
}

.msg-right{
  display: block;
  margin-left: auto;
  background-color: #A4BFEB;
}


/* d-theme setting */

/* //main */

.sidenav-toggle.d-theme{
  background-color: var(--dark-sidebar-cntnr);
  color: #ced3f2;
}

.nav-link.d-theme.active{
  box-shadow: 0px 5px 2px  var(--dark-side-nav-link);
  color: var(--dark-side-nav-link)  ;
}


.main-contnr.d-theme{
  background-color: var(--dark-main-cntnr);
}

.brand-nav.d-theme{
  background:var(--dark-brand-cntnr);
  color: #ced3f2;
}

.btn-secondary.d-theme{
  background-color: var(--dark-secondary-link);
  color:#ffffff;
  border: 0px;
  outline: none;
}


/* side bar */
.side-nav.d-theme{
  background-color: var(--dark-sidebar-cntnr);
  color: #ced3f2;
}

.side-nav.d-theme > .nav-link.active{
  box-shadow: 0px 5px 2px  var(--dark-side-nav-link);
  color: var(--dark-side-nav-link)  ;
}

.btn-danger{
  background-color: var(--dark-danger);
  border:none;
  outline: none;
}

/* Projects */
.btn-primary.d-theme{
  background-color: var(--dark-primary);
  border: none;
  outline: none;
}

.card.d-theme{
  color: #ced3f2;

  background-color: var(--dark-card-cntnr) ;
}

.card-header.d-theme{
  background-color: var(--dark-card-header);
}



/* AUTH */

.auth-bg.d-theme{
  background-color: var(--dark-main-cntnr);
}
.input.d-theme{
  background-color: var(--dark-brand-cntnr);
}


.theme-switch-cntnr.d-theme{
  background-color: darkblue;
}


@media( max-width: 1200px ){
  
  .side-menu{
    color:white;
    display: block;
    position: fixed;
    top:10px;
    left:10px;
  }

  .side-nav{   
    width:250px;
    display: none; 
  }
  .main-contnr{
    margin-left: 0px;
  }

}

@media( max-width:576px ){
  
  .top-nav{
    padding-top:4rem ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .hero-contnr{
    margin: 0px 10px;
  }

}